<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white text-lg"><b>Order Booking List</b></a>
          </li>
        
        </ul>
      </nav>





   
      
      <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Animal Type</th>
            <th scope="col">Days</th>
            <th scope="col">CNIC</th>
            <th scope="col">Number</th>
            <th scope="col">Address</th>
            <th scope="col">QP Details</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Edit</th>
            <th scope="col">Delet</th>
           
          </tr>
        </thead>
        <tbody>
            <% var i =1 %>
            <% data2.forEach((item)=>{  %>
          <tr>
            
            <th scope="row"><%= i++ %></th>
            <td><%= item.Animal %></td>
            <td><%= item.Eid %></td>
            <td><%= item.CNIC %></td>
            <td><%= item.number %></td>
            <td><%= item.Address %></td>
            <td><%= item.qpdetail %></td>
            <td><%= item.quantity %></td>
            <td><%= item.totalPrice %></td>
            <td>
                <form action="/orderList/edit/" method="get" class="d-inline">
                    <button type="submit" class="btn">
                       Edit
                    </button>
                </form>
            </td>
            <td>
                <form action="/order/delet/<%= item._id %>" method="post" class="d-inline">
                    <button type="submit" class="btn">
                       Delet
                    </button>
                </form> 
            </td>
           
          </tr>
          <%  }) %>
        </tbody>
      </table>


</body>
</html>